//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component
// ========================================================================

body {
	background:$background;
	overflow-x: hidden;
	color: $brand-primary;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
	line-height: 30px;
	font-family: 'Din', sans-serif;
}

a {
	@include transition(.6s);
	color: $brand-primary;

	&:hover,
	&:focus {

	}
}

video::-webkit-media-controls {
	display: none !important;
}


// Heading styles
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 72px;
	line-height: 94px;

	@media only screen and (max-width: 768px) {
		font-size: 48px;
		line-height: 72px;
	}

	@media only screen and (max-width: 568px) {
		font-size: 36px;
		line-height: 44px;
	}
}

h2 {
	font-size: 56px;
	line-height: 64px;

	@media only screen and (max-width: 768px) {
		font-size: 48px;
		line-height: 72px;
	}

	@media only screen and (max-width: 568px) {
		font-size: 36px;
		line-height: 44px;
	}
}

h3 {
	font-size: 36px;
	line-height: 44px;

	@media only screen and (max-width: 568px) {
		font-size: 24px;
		line-height: 32px;
	}
}

h4 {
	font-size: 16px;
	line-height: 30px;
}


// Global text styles
p.subtitle {
	font-size: 16px;
	font-weight: bold;
	font-weight: bold;
	margin-bottom: 0;
}

blockquote {
	font-size: 24px;
	font-style: italic;
	line-height: 41px;
	margin: 28px 0;
	padding: 0 40px;
	border-left: 2px #ccc solid;
}

.intro-text {
	font-size: 20px;
	line-height: 34px;
	margin-bottom: 20px;
}

ol {
	color: #000;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: $secondary-orange;
}

pre {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	line-height: 20px;
	top: 5px;
	border: #ccc;
	background: #fff;
	border-radius: 3px;
}

.col-left {
	opacity: 0;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.col-right {
	opacity: 0;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

/* =WordPress Core WYSIWYG Justifcation Styles
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a {
	img {
		/* Alignments of the image */
		&.alignright {
			float: right;
			margin: 5px 0 20px 20px;
		}
		&.alignnone {
    		margin: 5px 20px 20px 0;
		}
		&.alignleft {
    		float: left;
    		margin: 5px 20px 20px 0;
		}
		&.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
	text-align: center;
	
	/* Alignments of the caption */
	&.alignnone,
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
	
	p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}

	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	
	/* Focus state of .screen-reader-text */
	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
	section.section {
		padding: 0 0 40px 0;
	}
}

